<form [formGroup]="form">
    <label for="username">Username:</label>
    <input id="username" type="text" formControlName="username" required minlength="5" maxlength="25">

    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" required minlength="8">

    <button type="submit" id="btnLogin" [disabled]="form.status !== 'VALID'" (click)="register()">Login</button>

    <button type="submit" id="btnRegister" [disabled]="form.status !== 'VALID'" (click)="login()">Register</button>
</form>
<p *ngIf="errorMessage">{{errorMessage}}</p>