<app-navigation></app-navigation>
<form [formGroup]="this.form" (submit)="$event.preventDefault()">
    <input type="text" title="Title of your day" formControlName="title" placeholder="Title" required id="title">

    <textarea formControlName="description" title="Description of how your day went"
        placeholder="Description of your day" required [rows]="rows" [cols]="cols" id="description"></textarea>

    <button [disabled]="form.invalid" (click)="createEntry()" type="submit">Create</button>
    <button (click)="close()" id="cancel" type="button">Cancel</button>

</form>
<p *ngIf="note">{{note}}</p>
<app-clock></app-clock>