<app-navigation></app-navigation>
<form [formGroup]="this.form">
    <input type="text" formControlName="title" placeholder="Title" required id="title">

    <textarea formControlName="description" placeholder="Description of your day" required [rows]="rows" [cols]="cols"
        id="description"></textarea>

    <button [disabled]="form.invalid" (click)="createEntry()" type="button">Create</button>
    <button (click)="close()" type="button">Cancel</button>

</form>
<p *ngIf="note">{{note}}</p>
<app-clock></app-clock>