<app-navigation></app-navigation>
<form *ngIf="entry" [formGroup]="this.form" (submit)="$event.preventDefault()">
    <input placeholder="Title" title="Title of your day" formControlName="title" required type="text" id="title"
        maxlength="50">

    <textarea placeholder="Description" title="Description of how your day went" required formControlName="description"
        type="text" [rows]="rows" [cols]="cols" id="description"></textarea>

    <button type="submit" *ngIf="form.valid" (click)="updateEntry()">Update entry</button>
    <button id="delete" type="button" (click)="deleteEntry()">Delete entry</button>
</form>
<p *ngIf="note">{{note}}</p>
<app-clock></app-clock>