@import "../../styles.scss";
nav {
  background-color: $navigationGreen;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: flex-start;
  margin-bottom: 50px;
}
a#logout {
  margin-left: auto;
  cursor: pointer;
}

a[routerLink] {
  display: inherit;
}
