<app-navigation></app-navigation>
<div *ngIf="foods.length > 0">
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Calories</th>
                <th scope="col">Total Fat</th>
                <th scope="col">Saturated Fat</th>
                <th scope="col">Cholesterol</th>
                <th scope="col">Sodium</th>
                <th scope="col">Total Carbohydrates</th>
                <th scope="col">Dietary Fiber</th>
                <th scope="col">Sugars</th>
                <th scope="col">Protein</th>
                <th scope="col">Potassium</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delete food</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let food of foods; let i = index">
                <td>{{food.name}}</td>
                <td>{{food.calories ? food.calories * food.quantity : food.calories}}</td>
                <td>{{food.total_fat ? food.total_fat * food.quantity : food.total_fat}}</td>
                <td>{{food.saturated_fat ? food.saturated_fat * food.quantity : food.saturated_fat}}</td>
                <td>{{food.cholesterol ? food.cholesterol * food.quantity : food.cholesterol}}</td>
                <td>{{food.sodium ? food.sodium * food.quantity : food.sodium}}</td>
                <td>{{food.total_carbohydrate ? food.total_carbohydrate * food.total_carbohydrate :
                    food.total_carbohydrate}}</td>
                <td>{{food.dietary_fiber ? food.dietary_fiber * food.quantity : food.dietary_fiber}}</td>
                <td>{{food.sugars ? food.sugars * food.quantity : food.sugars}}</td>
                <td>{{food.protein ? food.protein * food.quantity : food.protein}}</td>
                <td>{{food.potassium ? food.potassium * food.quantity : food.potassium}}</td>
                <td>
                    <input type="number" [(ngModel)]="food.quantity" (ngModelChange)="changeQuantity(food)" [min]="1"
                        [step]="1">
                </td>
                <td (click)="deleteFood(food.id, i)">
                    Remove food
                </td>
            </tr>
        </tbody>
    </table>
    <p>Calories eaten: {{sumOfCalories}}</p>
    <button type="submit" *ngIf="changedFoods.length > 0" (click)="updateQuantity()">Save</button>
</div>
<button type="button" (click)="navigateToFoodSearch()">Add food</button>
<p *ngIf="note">{{note}}</p>
<app-clock></app-clock>