@import "../../../styles.scss";

div {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-bottom: 30px;
      flex-basis: 100%;
      @include setWideButton();
    }
  }
  table {
    input {
      padding: 10px;
    }
  }
}
div#actions {
  @include setContainerToBottomOfPage();
  button {
    @include setWideButton();
    margin-bottom: 10px;
  }
}
