<app-navigation></app-navigation>
<div *ngIf="workoutPlans.length">
    <table>
        <caption>Your workout plans</caption>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date created</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let workoutPlan of workoutPlans" [id]="workoutPlan.id"
                (click)="getDetailsOfWorkoutPlan(workoutPlan.id)">
                <td>{{workoutPlan.title}}</td>
                <td>{{workoutPlan.dateAdded.toLocaleString()}}</td>
            </tr>
        </tbody>
    </table>
</div>
<p *ngIf="errorMessage">{{errorMessage}}</p>
<button type="button" id="addWorkoutPlan" (click)="navigateToForm()">Create a new workout plan</button>
<app-clock></app-clock>