<router-outlet>
    <app-navigation></app-navigation>
    <table *ngIf="workoutPlans.length">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date created</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let workoutPlan of workoutPlans">
                <td (click)="getDetailsOfWorkoutPlan(workoutPlan.id)">{{workoutPlan.title}}</td>
                <td>{{workoutPlan.dateAdded.toLocaleString()}}</td>
                <td (click)="deleteWorkout(workoutPlan.id)">Delete</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <button type="button" id="addWorkoutPlan" (click)="navigateToForm()">Create a new workout plan</button>
    <app-clock></app-clock>
</router-outlet>