<app-navigation></app-navigation>
<div *ngIf="users.length > 0">
    <table>
        <caption>All current registered users (excluding you)</caption>
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Is an admin?</th>
                <th scope="col">Is active?</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;">
                <td>{{user.username}}</td>
                <td>{{user.isAdmin}}</td>
                <td>{{user.isActive}}</td>
                <td (click)="changeActiveStatus(user)" [id]="user.username">
                    {{user.isActive ? "Lock" :"Unlock"}}
                </td>
            </tr>
        </tbody>

    </table>
</div>

<p *ngIf="note">{{note}}</p>
<app-clock></app-clock>